<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>User Info</h1>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Email</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="panel-footer">
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success" %>
        <%= link_to 'Back', users_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>Articles</h1>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Article</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @user.articles.order(created_at: :desc).each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= link_to 'Show', article %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1>Comments</h1>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Comment</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @user.comments.order(created_at: :desc).each do |comment| %>
          <tr>
            <td><%= comment.message %></td>
            <td><%= link_to 'Show', comment %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
